/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #818181;
}
